{% extends "blog/base.html" %}

{% block content %}
    <h1>About Signal Blue</h1>
    <div>
        <!-- Add the brand image here -->
        <img src="/media/profile_pics/signalBlueDark.png" alt="Logo" style="display: block; margin-left: auto; margin-right: auto; width: 300px; height: 300px; border-radius: 7px;">

        <p>Welcome to Signal Blue, a dynamic platform dedicated to exploring the ever-evolving landscape of artificial intelligence and emerging technologies. Our mission is to enlighten, inspire, and engage minds in the realms of AI and technology.</p>
        <p>At Signal Blue, we believe in the power of collective intelligence and the limitless potential of AI. Our blog is a testament to this belief, featuring weekly updates on the latest trends, breakthroughs, and discussions in the world of AI and technology. From machine learning to robotics, big data to neural networks, we cover it all.</p>
        <p>Join us in this exciting journey to push the boundaries of knowledge and innovation. Whether you are an AI enthusiast, a tech professional, or simply curious about the future of technology, Signal Blue is your go-to source for insightful, up-to-date, and thought-provoking content.</p>
        <p>Together, let's explore the possibilities and shape a future where technology and human potential converge.</p>
    </div>
{% endblock content %}
